 .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1440px;
        max-width: 100%;
        min-width: 320px;
        margin: 0 auto;
        background: #fff;
        .footer__left{
            margin-left: 92px;
        }
        .footer__right{
            margin-right: 35px;
        }
    }