@media  (max-width: 774px) {
      .wrapper{
         .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 1440px;
        max-width: 100%;
        min-width: 320px;
        margin: 0 auto;
        background: #fff;
        .footer__left{
            margin-left: 0px;
            display: flex;
            justify-content: center;
        align-items: center;
        width: 50%;
        flex-grow: 1;
       

        }
        .footer__right{
            margin-right: 35px;
        flex-grow: 1;
width: 50%;
        }
    }
        }
    }