@media  (max-width: 774px) {
    .wrapper{
          .content{
            .header {
            width: 100%;
            .navbar {
                width: 100%;
                padding: 13px 37px 12px 10px;
                .navbar__frame {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .navbar__frame-left {
                        padding-left: 0;
                        
                    }
                    .burger{
                        display: block;

                    //     flex-direction: column;
                    // justify-content: center;
                    // align-items: center;
                               display: block;

                     width: 50px;
                            height: 50px;
                            // border: solid black 2px;
                           .inp-burger{
                               display: none;
                           }
                           #checked:checked ~ .bar::after{
                              transform-origin: center;
                              transform: rotateZ(90deg) translateX(-10px) translateY(0px);
                            //   transition: 0.5s;
                             
                           }
                            #checked:checked ~ .bar{
                              transform-origin: center;
                              transform: rotateZ(45deg);
                            //   transition: 0.5s;
                              background: transparent;
                           }
                        .bar{
                            display: inline-block;
                            width: 50px;
                            height: 5px;
                            border-radius: 10px;
                            background: #737373;
                            transition: .3s;
margin-top: 5px;
                        }
                         .bar::before{
                             content:'';
                             display: block;
                             width: 50px;
                            height: 5px;
                            margin-top: 10px;
                            border-radius: 10px;
                            background: #d01212;
                         }
                          .bar::after{
                             content:' ';
                             display: block;
                             width: 50px;
                            height: 5px;
                            margin-top: 5px;
                            border-radius: 10px;
                            background: #6812d0;
                         }
                    }
                     
                    .navbar__frame-right {
                         position: absolute;     
                         left:-200px;
                         top: 150px;
                         transition: 0.7s;
                        
                        ul {
                            display: block;
                            // justify-content: space-between;
                            width: 100px;
                            // height: 200px;
                            margin: 0;
box-shadow: 5px 10px 50px rgba(255, 255, 255, 0.9);   
                  
                       li {
                                list-style: none;
                                display: block;

                                a {
                                    text-decoration: none;
                                    font-family: "Montserrat";
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 28px;
                                    /* identical to box height, or 175% */

                                    text-align: center;
                                    letter-spacing: 0.2px;
                                    color: #f6f6f6;
                                }
                                a:hover {
                                    color: #fa4a0c;
                                }
                            }
                        }
                    }
                     .hidden{
                              position: absolute;     
                         left:30px;
                         display:block;
                         }
                }
            }
            .header__baner {
                background-image: url("../image/headerBg.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 1440px;
                height: 45vw;
                max-width: 100%;
                min-width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .text-content {
                    h4 {
                        font-family: "Montserrat", sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: calc((100vw/22)*0.8);
                        line-height:calc((100vw/50)*0.8);
                        /* identical to box height, or 158% */
                        text-align: center;
                        letter-spacing: 0.2px;

                        color: #f7f7f7;
                    }
                    h4 .bella {
                        margin-top: 10px;
                    }
                    h1 {
                        font-family: "Montserrat", sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: calc(100vw/22);
                       
                        // width: 1094px;
                        max-width: 1094px;
                        height: auto;
                        text-align: center;
                        letter-spacing: 0.2px;
                        padding: 10px 27px 10px 37px;
                        line-height: 1.2;
                        color: #ffffff;
                    }
                }
                .opacity{
                    opacity: 0.3;
                }
                .button-group {
                    margin-top:calc((100vw/20)*0.8);

                    .btn-playstore {
                        padding: calc((100vw/22)*0.2) calc((100vw/22)*0.9);
                        background: #fa4a0c;
                        box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
                        border-radius: calc((100vw/30-10)*1.5);
                        font-family: "Montserrat", sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: calc((100vw/100)*3);
                        line-height: 26px;
                        /* identical to box height, or 150% */

                        letter-spacing: 0.1px;
                        border: none;
                        /* Light text */
                        cursor: pointer;
                        color: #ffffff;
                    }
                    .btn-appstore {
                        padding: calc((100vw/22)*0.2) calc((100vw/22)*0.9);
                        border: 1px solid #ffffff;
                        border-radius: calc((100vw/30-10)*1.5);
                        font-family: "Montserrat", sans-serif;
                        font-style: normal;
                        font-weight: 500;
                         font-size: calc((100vw/100)*3);
                        line-height: 26px;
                        margin-left: 34px;
                        background-color: transparent;
                        letter-spacing: 0.1px;
                        cursor: pointer;
                        color: #ffffff;
                    }
                }
            }
          
        }
       }
    }
}